* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: rgb(212, 185, 222);
}

#app {
  height: 100%;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

#nav {
  background-color: rgb(64, 44, 193);
  /* box-shadow: 0px 2px 5px rgb(149, 112, 182); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-weight: bold;
  font-size: larger;
  color: rgb(186, 149, 255);
  box-shadow: inset 0 0 20px rgb(57, 57, 57);
}

.prompt {
  background-color: lavender;
  text-decoration: none;
  margin-top: 15px;
  padding: 5px 50px;
  border-radius: 10px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav > a {
  color: rgb(186, 149, 255);
  padding-left: 15px;
  text-decoration: none;
  font-size: 24px;
  margin-right: 10px;
}

nav > a:hover {
  color: rgb(230, 173, 255);
  text-shadow: 0px 0px 5px pink;
  text-decoration: underline;
}

h1 {
  margin-left: 20px;
  text-decoration: underline;
}

button {
  background-color: white;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0px 0px;
}

button:hover {
  background-color: lightgrey;
  box-shadow: 0px 5px 5px black;
}

header {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

header > img {
  max-height: 40px;
  max-width: 40px;
}

.posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.post {
  border: 2px solid grey;
  padding: 20px;
  margin: 10px 5px;
  border-radius: 10px;
  background-color: aliceblue;
}
.post-title {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .posts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  h1 {
    display: none;
  }
}
