* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: rgb(212, 185, 222);
}

#app {
  height: 100%;
  font-family: "Merriweather", serif;
}

#nav {
  background-color: rgb(64, 44, 193);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-weight: bold;
  font-size: larger;
  color: rgb(186, 149, 255);
  box-shadow: inset 0 -10px 20px rgb(57, 57, 57);
}

.content {
  background-color: rgb(212, 185, 222);
}

.sub-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.search {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0 15px 0 35px;
  flex: 1 0 150px;
}

#message-input {
  outline: 1px solid rgb(72, 8, 109);
  border-radius: 2px;
}

.message-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message-form > h2 {
  margin: 10px;
}

.message {
  outline: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}

.prompt {
  background-color: lavender;
  text-decoration: none;
  margin: 5px;
  padding: 5px 50px;
  border-radius: 10px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav > a {
  color: rgb(186, 149, 255);
  padding-left: 15px;
  text-decoration: none;
  font-size: 24px;
  margin-right: 10px;
}

a:hover {
  color: rgb(230, 173, 255);
  text-shadow: 0px 0px 5px pink;
  text-decoration: underline;
}

.sub-nav > a {
  color: rgb(186, 149, 255);
  text-decoration: none;
  background-color: rgb(64, 44, 193);
  padding: 5px 15px;
  border-radius: 2em;
  font-size: 14px;
  margin-left: 15px;
}

h1 {
  margin-left: 20px;
  text-decoration: underline;
}

h2 {
  margin: 10px 0 0 10px;
}

button {
  background-color: white;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 5px 5px;
}

button:hover {
  background-color: lightgrey;
  box-shadow: 0px 5px 5px black;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lavender;
  border: 2px solid plum;
  margin: 25px;
  padding: 20px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
}

.search > input {
  flex: 1 0 150px;
  height: auto;
}

header {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

header > img {
  max-height: 40px;
  max-width: 40px;
}

.posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#alert {
  background-color: rgb(212, 185, 222);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.post,
.messages {
  border: 2px solid grey;
  padding: 20px;
  margin: 10px 5px;
  border-radius: 10px;
  background-color: aliceblue;
}

.message {
  margin: 5px 0 0 15px;
}

.post-title {
  margin-bottom: 10px;
}

.price {
  color: rgb(64, 64, 253);
  padding: 5px;
}

@media (max-width: 768px) {
  .posts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px 20px;
  }
  h1 {
    display: none;
  }
}
